OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=
NVIDIA_API_KEY="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"
GROQ_API_KEY=
JINA_API_KEY="jina_a4657891c8c040989fd3fb68cfe7fb65ry7y6Cyb8qLJMn22x_l3INfFUwDs"
LANGSEARCH_API_KEY=

# Optional - raises Semantic Scholar rate limit (hard to get, but who knows?)
SEMANTIC_SCHOLAR_API_KEY=
