numpy
pandas
faiss-cpu
networkx
scikit-learn
tqdm
bertopic
sentence-transformers
torch
transformers
openai

requests
numpy
networkx
sentence-transformers
spacy
scispacy
hdbscan
scikit-learn
torch
python-louvain
FlagEmbedding
